.carouselBackground{
    background-image: url('../../assets/img/BackReview.svg');
    background-size: cover;
}
.cardColor{
    background-color: #0c0c0c73 !important;
    height: 250px !important;
    margin-top: 150px;
}
.personImg{
    width: 40% !important;
    height: 40%;
    position: absolute;
    z-index: 1;
    top: 25%;
    transform: translateY(-25%);
} 

.sliderContainer {
    margin-bottom: 50px;
}
.slick-dots {
    bottom: -50px !important;
}