.inspirationImg{
    background-image: url('../../assets/img/Inspiration.svg');
    height: 550px;
    background-size: cover;
}

.topTitle{
    position: absolute;
    left:7%;
    top: 17%;
    font-weight: bolder;
    color:white;
}
.fTopTitle{
    font-size: 2rem;

}
.sTopTitle{
    line-height: 0.1;
}
.fBottomTitle{
    position: absolute;
    right:6%;
    bottom: 22%;
    color:white;
    font-size: 3rem;
    font-weight: bolder;
    margin-bottom: 0;
}
.sBottomTitle{
    position: absolute;
    right: 8%;
    bottom: 14%;
    /* transform: translate(-8%, -8%); */
    color: white;
    font-size: 1.3rem;
}
.readMoreArrow{
    position: absolute;
    right: 6%;
    bottom: 17%;
    /* transform: translate(-6%, -11%); */
}

@media screen and (max-width: 767px) {
    .topTitle{
        top:5%;
    }
    .fBottomTitle{
        bottom:15%;
        left:7%;
        right: 0;
        font-size: 2.5rem;
    }
    .sBottomTitle{
        bottom:6%;
        left:7%;
    }
    .readMoreArrow{
        bottom:9%;
        left:35%;
    }
}